
.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard-widgets {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.widget {
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
  cursor: grab;
}

.stock-cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.stock-card {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

label {
  margin-right: 10px;
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.dark {
  background-color: #333;
  color: white;
}


h2 {
  color: #333;
}

.button-container {
  margin-bottom: 20px;
}

.button-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.stock-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
